<div class="login-signup-page">
  <div class="login-signup-form">
    <form action="/login" method="post">
      <h4>Share a dress</h4>
      <input type="email" placeholder="email" name="email" />
      <input type="password" placeholder="password" name="password" />
      <br />
      <br />
      <button>LOGIN</button>
    </form>
    <h5>New User? <a href="/signup">Signup</a></h5>
  </div>
</div>
