<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <% if (userId) { %>
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">SHARE A DRESS</div>

      <ul class="nav-links">
        <div class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/dresses/new">Post</a></li>

          <li>
            <a href="/follow">Follow</a>
          </li>
          <li><a href="/wishlist">Wishlist</a></li>
          <li><a href="/dresses">Me</a></li>
          <li><a href="/logout">Logout</a></li>
          <!-- <li>
            <form action="/logout" method="post">
              <input type="hidden" name="_method" value="delete" />
              <button>logout</button>
            </form>
          </li> -->
        </div>
      </ul>
    </nav>
    <%- body %> <% } else {%> <%- body %> <% } %>
  </body>
</html>
