<p class="page-header">Recommended Users</p>

<div class="cards">
  <%for (let user of users) {%>

  <div class="ui-card">
    <header class="content">
      <p class="follow-title"><%= user.first_name %> <%= user.last_name %></p>
    </header>

    <img src="<%= user.photo_url%>" alt="" />
    <form action="/follow/<%= user.id %>" method="post">
      <button class="follow-button">Follow</button>
    </form>
  </div>

  <%}%>
</div>
