<div class="login-signup-page">
  <div class="login-signup-form">
    <form action="/dresses" method="post">
      <h4>Share a dress</h4>
      <input type="text" placeholder="name" name="title" />
      <input type="number" placeholder="price" name="price" />
      <input type="text" placeholder="website url" name="websiteurl" />
      <input type="text" placeholder="image url" name="imageurl" />
      <br />
      <br />
      <button>POST</button>
    </form>
  </div>
</div>
