<div>
  <form action="/dresses" method="post" class="post-dress-form">
    <div class="post-dress-form-item">
      <label for="title">Title</label>
      <input type="text" name="title" />
    </div>
    <div class="post-dress-form-item">
      <label for="price">Price</label>
      <input type="number" name="price" />
    </div>
    <div class="post-dress-form-item">
      <label for="websiteurl">Website URL</label>
      <input type="text" name="websiteurl" />
    </div>
    <div class="post-dress-form-item">
      <label for="imageurl">Image URL</label>
      <input type="text" name="imageurl" />
    </div>
    <button>POST</button>
  </form>
</div>
